body {
  background-color: silver
}

h3 {
  color: green;
  text-decoration: overline underline 10px blue dotted;
  letter-spacing: 3px;
  word-spacing: 4px;
  text0shaddow: 2px 3px 2px gold;
  
}

h3:hover{
  font-size: 400%;
  text-transform: uppercase;
}

img:hover{
  width: 80%;
}

nav{
  list-style-type: none;
  background-color: grey;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

}

li a{
  text-decoration: none;
  color: white;
  display: block;
  float: left;
  padding: 15px 50px;
  
}

li a:hover{
  background-color: wheat;
  color: black;
  font-size: 130%;
}
